/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24 Jan 2019, 16:34:55
    Author     : hevo
*/


/*THEME DARK OCEAN*/
:root {
  --main-bg: #2c4251;
  --main-font: #E1EFF6;
  --main-bg-container: #468189;
  --main-bg-item: #25626B;
  --main-border-item: #EDEFE6;
  --main-button: #C3E2DD;
  --main-button-second: #84CCC6;
}


/*:root {
  --main-bg: #EFEFED;
  --main-font: #252323;
  --main-bg-container: #BEC7DB;
  --main-bg-item: #B3BEBF;
  --main-border-item: #929A9B;
  --main-button: #547D96;
  --main-button-second: #7BA0B7;
      
}*/