/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27 Jan 2019, 20:27:16
    Author     : hevo
*/

.standard-font {
    color: #e1eff6;
}

.new-match-font {
    font-size: x-large;
}

.row-active-match {
    background-color: #25626B;
    margin-left: -15px;
    margin-right: -15px;
    border-style: solid;
    border-color: #2c4251;
    border-width: 2px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.match-double-dot {


    height: 100%;
    width: 100%;
    color: #e1eff6;
    font-size: x-large;
    text-align: center;
    margin-top: 20px;
}

.col-history-match-result {
    text-align: center;
}

.col-history-match-teamtwo {
    text-align: right;
}

.match-result {
    width: 100%;
    height: 50%;
    margin-top: 20px;
    border-radius: 5px;
}

.row-match-item {
    border-color: #2C4251;
    border-style: solid; 
    padding: 4px;
    background-color: #25626B;
}

.container-session-matchlist {
    margin-top: 10px;
    margin-bottom: 15px;
}

.match-result[type="number"] {
    font-size: 15px;
    text-align: center;
}

.team-players-area {
    background-color: transparent;
    border-style: none;
    height: 100%;
    color: #e1eff6;
    padding: 8px;
    width: 100%;
    font-size: larger;
}

.team-players-area-right {
    text-align: right;
}

.col-result-left {
    /*margin-right: -15px;*/

}

.col-result-right {
    /*margin-left: -15px;*/
}

.active-match-font {
    font-size: large;
}

.match-dummy {
    height: 50px;
}
.team-players {
    height: 100px;

}

.row-new-button {
    height: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.button-results-confirm {
    width: 100%;
    height: 30px;
    color: black;
    background-color: #C3E2DD;
    border-radius: 3px 3px 3px 3px;
    border-width: 1px;
    border-style: none;
    border-color: transparent;
    border-image: none;
    font-size: large;
    margin-bottom: 15px;
}

.row:before {
    display: inline-block;
}

.row:after {
    display: inline-block;
}

.button-results-confirm:active {
    background-color: #9DB7B2;
}

.match-button-new {
    width: 100%;
    height: 100%;
    color: black;
    background-color: #C3E2DD;
    border-radius: 3px 3px 3px 3px;
    border-width: 1px;
    border-style: none;
    border-color: transparent;
    border-image: none;
    font-size: 15px;
}

.match-button-new:active {
    background-color: #9DB7B2;
}

