/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25 Jan 2019, 15:12:16
    Author     : hevo
*/


.nav-container {
    margin-top: 10px;
    margin-bottom: 20px;
}

.nav-item {
    border-color: #e1eff6;
    border-style: solid;
    height: 30px;
    background-color: #6EA4CC;
    font-size: 18px;
    color: #e1eff6;
    text-align: center;
    cursor: pointer;
}

.nav-item-left {
    border-radius: 5px 0px 0px 5px;
}

.nav-item-right {
    border-radius: 0px 5px 5px 0px;
}
