/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25 Jan 2019, 11:46:51
    Author     : hevo
*/

.flex-container {
    display: flex;
}

.fill-width {
    display: flex;
    flex: 1;
}

.top-lvl-container {
    padding: 10px;
}

.player-input-form {
    margin-bottom: 10px;
    font-size: large;
    height: 30px;
}

.player-list-item {
    /*display: inline-block;*/
    height: 50px;
    padding: 5px;
    border-color: #2C4251;
    border-style: solid;
    background-color: #25626B;
}

.container-player-list {
    max-height: 370px;
    overflow: auto;
}

.standard-font {
    color: #e1eff6;
}

.player-list-item-name {
    color: #E1EFF6;
    font-size: x-large;
    width: auto;
}

.button-player-submit {
    height: 100%;
    background-color: #C3E2DD;
    display:inline-block;
    border-radius: 0px 3px 3px 0px;
    border-width: 1px;
    border-style: none;
    border-color: transparent;
    border-image: none;
}
.button-player-submit:active {
    background-color: #9DB7B2;
}

.row:before {
    display: inline-block;
}

.row:after {
    display: inline-block;
}

.player-delete-button {
    margin-left:auto; 
    margin-right:0;
    height: 100%;
    width: 30px;
    background-color: #C3E2DD;
    border-radius: 3px 3px 3px 3px;
    border-width: 1px;
    border-style: none;
    border-color: transparent;
    border-image: none;
    font-size: large;
}

.player-delete-button:active {
    background-color: #9DB7B2;
}