/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25 Jan 2019, 16:36:49
    Author     : hevo
*/

.standard-font {
    color: #e1eff6;
}

.session-info {
    font-size: x-large;
}

.session-players {
    font-size: large;
    margin-bottom: 5px;
}

.session-button-end {
    width: 100%;
    color: black;
    background-color: #C3E2DD;
    border-radius: 3px 3px 3px 3px;
    border-width: 1px;
    border-style: none;
    border-color: transparent;
    border-image: none;
    font-size: 15px;
    margin-bottom: 15px;
}

.session-button-end:active {
    background-color: #9DB7B2;
}

.border-line {
    border: 1px solid #e1eff6;
    border-radius: 2px;
}

.session-start-btn {
    margin-left: auto;
    margin-right: 0;
    height: 100%;
    background-color: #C3E2DD;
    border-radius: 3px 3px 3px 3px;
    border-width: 1px;
    border-style: none;
    border-color: transparent;
    border-image: none;
    font-size: large;
}

.session-start-btn:active {
    background-color: #9DB7B2;
}

.button-session-init {
    height: 30px;
    background-color: #C3E2DD;
    width: 100%;
    border-radius: 3px 3px 3px 3px;
    border-width: 1px;
    border-style: none;
    border-color: transparent;
    border-image: none;
    font-size: large;
    margin-top: 10px;
    margin-bottom: 10px;
}

.item-player {
    padding: 5px;
    font-size: 15px;
    border-width: 1px;
    border-color: #2C4251;
    border-style: solid;
    background-color: #25626B;
    color: #e1eff6;
    margin: 2px;
}

.button-session-init:active {
    background-color: #9DB7B2;
}

.row-session-monitor {
    height: 40px;
}

.session-info-toplvl {
    padding: 10px;
}

.row:before {
    display: inline-block;
}

.row:after {
    display: inline-block;
}

